{{#foreach posts}}
  <article class="post-card {{post_class}} {{#is "tag, author"}}post-card--filtered-page{{/is}}">

    <a href="{{url}}" class="post-card-link" title="{{title}}" aria-label="{{title}}"></a>

    <picture class="post-card-cover">
      <source srcset="{{img_url feature_image size="s"}} 1x, {{img_url feature_image size="l"}} 2x"
        media="(min-width: 1200px)">

      <source srcset="{{img_url feature_image size="xs"}} 1x, {{img_url feature_image size="m"}} 2x"
        media="(min-width: 1024px)">

      <source srcset="{{img_url feature_image size="s"}} 1x, {{img_url feature_image size="l"}} 2x"
        media="(min-width: 425px)">

      <img src="{{img_url feature_image size='xs'}}" srcset="{{img_url feature_image size='m'}} 2x" alt="{{title}}"
        class="post-card__image post-card-image" loading="lazy">
    </picture>

    <div class="post-card__info">

      <header class="post-card__header">
        {{#primary_tag}}
          <div class="post-card__feature">
            <span class="post-card__text u-d-inline-flex u-text-transform-capitalize">
              {{name}}
            </span>
          </div>
        {{/primary_tag}}
      </header>

      <footer class="post-card__footer">
        <h2 class="post-card__title">{{title}}</h2>
        <div class="post-card__details">

          {{#if tags}}
            {{#foreach tags from="3" limit="1"}}
              <div class="post-card__tag">
                <a href="{{url}}" class="post-card__tag-container">
                  {{name}}
                </a>
              </div>
            {{/foreach}}
          {{/if}}
        </div>

        {{#has tag="video"}}

          <div class="post-card__playButton">
            {{> "icons/icon-play"}}
          </div>
        {{/has}}


      </footer>

  </article>
{{/foreach}}