{{!------------------------------------}}
          {{!-- Loop --}}
{{!------------------------------------}}

{{#foreach posts}}

<article class="article {{post_class}}">
    <div class="article__coverContainer">
        {{#if feature_image}}
        <a href="{{url}}" class`="u-display-in-block">
            <figure class="article__cover">
                <img src="{{feature_image}}" alt="{{title}}" class="article__image">
            </figure>
        </a>

        {{else}}
        <div class="article__gradient"></div>
        {{/if}}

        {{#if tags}}
            {{#foreach tags limit="1"}}
                <div class="article__tagContainer">
                    <a href="{{url}}" class="article__tag btn btn-secondary btn-icon">
                        <span class="article__icon o-icon-{{name}}">
                            {{> "tag-paths" }}
                        </span>
                        <span class="article__text">{{name}}</span>
                    </a>
                </div>
            {{/foreach}}
        {{/if}}
    </div>
 
    <div class="article__details">

        <header class="article__info">
            <h2 class="article__title">
                <a href="{{url}}" class="article__link">{{title}}</a>
            </h2>

            <section class="article__description">
                <p class="article__text">{{excerpt words="20"}}</p>
            </section>
        </header>

        <footer class="article__options">
            {{#author}}
            <a href="{{url}}" class="article__author">
                
                {{#if profile_image}}
                <figure class="article__avatar">
                    <img src="{{ profile_image}}" alt="{{name}}" nopin="nopin" class="article__image"/>
                </figure>
                {{/if}}

                <span class="article__name">{{name}}</span>
            </a>
            {{/author}}

            <a href="{{url}}" class="article__button btn btn-icon btn-mini">
                <span class="article__text u-mg-rt-5em">Leer</span>
                <i class="article__icon o-icon-arrow-right"></i>
            </a>
        </footer>
    </div>

</article>

{{/foreach}}