{{!--
    Layout: Article

    A list of the articles that will be displayed on the website.
    (index, author, tags)
--}}

{{#foreach posts}}

<article class="article {{post_class}}">
    {{!-- <a href="{{url}}" class="u-display-block" title="{{title}}" aria-label="{{title}}"> --}}
    {{!--
        Cover
        The cover image of the post.
    --}}

    <div class="article__coverContainer">

        {{!-- If the image exists --}}
        {{#if feature_image}}

        {{#has number="1"}}

        {{!-- If first post --}}

        <picture class="article__cover">
            <source srcset="{{img_url feature_image size="size-20"}}"
                data-srcset="{{img_url feature_image size="size-425"}} 1x, {{img_url feature_image size="size-850"}} 2x, {{img_url feature_image size="size-1275"}} 3x"
                media="(min-width: 375px)" class="lazy">

            <img src="{{img_url feature_image size="size-20"}}" data-src="{{img_url feature_image size="size-320"}}"
                data-srcset="{{img_url feature_image size="size-640"}} 2x, {{img_url feature_image size="size-960"}} 3x"
                alt="{{title}}" class="article__image lazy">
        </picture>

        {{!-- If other posts --}}
        {{else}}

        <picture class="article__cover lazy">
            <source srcset="{{img_url feature_image size="size-20"}}"
                data-srcset="{{img_url feature_image size="size-320"}} 1x, {{img_url feature_image size="size-640"}} 2x, {{img_url feature_image size="size-960"}} 3x"
                media="(min-width: 375px)" class="lazy">

            <img src="{{img_url feature_image size="size-20"}}" data-src="{{img_url feature_image size="size-270"}}"
                data-srcset="{{img_url feature_image size="size-540"}} 2x, {{img_url feature_image size="size-810"}} 3x"
                alt="{{title}}" class="article__image lazy">
        </picture>
        {{/has}}

        {{!-- If the image does not exist --}}
        {{else}}

        <a href="{{url}}" title="{{title}}" aria-label="{{title}}">
            <div class="article__gradient"></div>
        </a>

        {{/if}}
    </div>

    {{!--
        Details
        Brief information about the post.
    --}}

    <div class="article__details">

        {{!-- Top --}}
        <header class="article__info">

            {{!-- Title --}}
            <h2 class="article__title">
                <a href="{{url}}" class="article__link">{{title}}</a>
            </h2>

            {{#has number="1"}}
            
                {{!-- Description --}}
                <section class="article__description">
                    <p class="article__text">{{excerpt words="20"}}</p>
                </section>
                
            {{/has}}

        </header>

        {{!-- Bottom --}}
        <footer class="article__options">

            <div class="article__author">
                <span class="article__name">
                    Por
                    {{!-- Author name --}}
                    {{#primary_author}}
                    <a href="{{url}}" class="article__link">{{name}}</a>
                    {{/primary_author}}
                </span>
            </div>

            {{!-- It the tags exists --}}
            {{#if tags}}
            {{!-- Second tag of the post --}}
            {{#foreach tags from="2" limit="1"}}
            <div class="article__tagContainer">
                <a href="{{url}}" class="article__tag">
                    <span class="article__icon o-icon-{{name}}">
                        {{> "tag-paths" }}
                    </span>
                    <span class="article__text">{{name}}</span>
                </a>
            </div>
            {{/foreach}}
            {{/if}}

        </footer>
    </div>
    {{!-- </a> --}}
</article>

{{/foreach}}