<section class="cover {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{/if}}">
    {{#if @blog.logo}}
        <figure class="logo">
            <img class="img" src="{{@blog.logo}}" alt="{{@blog.title}}" />
        </figure>
    {{/if}}
    <div class="info-block">
        <h1 class="title">{{@blog.title}}</h1>
        <strong class="description">{{@blog.description}}</strong>
    </div>
    <div class="cover__social">
        <ul class="cover__list">
            <li class="cover__item"><a href="" class="cover__icon fa fa-codepen"></a></li>
            <li class="cover__item"><a href="" class="cover__icon fa fa-github-alt"></a></li>
            <li class="cover__item"><a href="" class="cover__icon fa fa-facebook"></a></li>
            <li class="cover__item"><a href="" class="cover__icon fa fa-twitter"></a></li>
            <li class="cover__item"><a href="" class="cover__icon fa fa-instagram"></a></li>
            <li class="cover__item"><a href="" class="cover__icon fa fa-google-plus"></a></li>
            <li class="cover__item"><a href="" class="cover__icon fa fa-linkedin"></a></li>
        </ul>
    </div>
</section>