{{!--
    Layout: Cover (Post)

    Cover image of the post. This is set in the blog settings
--}}

{{!--
    Cover
    The cover image of the post.
--}}

<div class="cover__details">

    {{!-- Title Wrapper --}}
    <div class="cover-wrapper u-max-w800">
        <div class="cover__title">
            <h1 class="cover__text">{{title}}</h1>
        </div>

        {{!-- Post date --}}
         <time datetime="{{date format="YYYY-MM-DD"}}" class="cover__date">{{date format="DD MMMM, YYYY"}}</time>
        
        {{!-- social buttons --}}
        <div class="social">
            <div class="fb-share-button" data-href="{{url absolute="true"}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="{{url absolute="true"}}" class="fb-xfbml-parse-ignore">Compartir</a></div>

            <a class="twitter-share-button" href="{{url absolute="true"}}" data-size="large">Tweet</a>
        </div>

        {{!-- If there are tags --}}
        {{#if tags}}
            {{#foreach tags}}
                <a href="{{url}}" class="cover__tag btn btn-secondary btn-icon">
                    <span class="cover__icon o-icon-{{name}}">
                        {{> "tag-paths"}}
                    </span>
                    <span class="cover__text">{{name}}</span>
                </a>
            {{/foreach}}
        {{/if}}

        {{#primary_author}}
            <a href="{{url}}" class="cover__author u-display-in-block">
                
                {{!-- If the author's image exists --}}
                {{#if profile_image}}
                <img class="cover__authorImage"
                        src="{{img_url profile_image}}"
                        alt="{{name}}">

                {{!-- If it does not exist --}}
                {{else}}
                <img class="cover__authorImage"
                    src="https://api.adorable.io/avatars/face/eyes2/nose7/mouth3/299fd3">
                {{/if}}

                {{!-- Author's name--}}
                <span class="cover__name">{{name}}</span>
            </a>
        {{/primary_author}}
    </div>

    {{!-- Circles --}}
    <ul class="figures u-no-list">
        <li class="circle"></li>
        <li class="circle"></li>
        <li class="circle"></li>
    </ul>
</div>

{{!-- Background Image--}}
<div class="cover__image {{#if feature_image}}image--true" style="background-image: url({{img_url feature_image}}){{else}}image--false{{/if}}"></div>