{{!--
    Layout: Cover (Tag)

    Cover image of the tag. This is set in the blog settings
--}}

{{!--
    Cover
    The cover image of the tag.
--}}

{{#tag}}

{{!-- Background image --}}
<div class="cover__imageContainer">
    <div class="cover__image {{#if cover_image}}image--true" style="background-image: url({{cover_image}}){{else}}image--false{{/if}}"></div>
</div>

{{!--
    Intro
    Information shown on the cover.
--}}

<div class="cover__intro u-wrap-center">

    {{!-- Name --}}
    <div class="cover__name">
        <strong class="cover__text">{{name}}</strong>
    </div>
    
    {{!-- Newsletter Text --}}
    {{#if description}}
    <div class="cover__description cover--tag">
        <strong class="cover__text">{{description}}</strong>
    </div>

    {{else}}

    <div class="cover__description cover--tag">
        <strong class="cover__text">
            Únete a mi newsletter semanal en donde te voy a compartir contigo: artículos, videos, noticias y todo entorno a desarrollo frontend.
        </strong>
    </div>

    {{!-- Subscribe Form --}}
    {{!-- <div class="cover__newsletter">
        {{> "subscribe" }}
    </div> --}}
        
    {{/if}}

    {{!-- Number of public posts --}}
    <div class="cover__postNumber">
        <span class="cover__text">
            {{plural ../pagination.total empty='No hay posts' singular='% post' plural='% posts'}}
        </span>
    </div>

    {{!-- Icon of the tag --}}
    <a href="{{url}}" class="cover__author cover--tagIcon u-display-in-block">

        <span class="cover__icon o-icon-{{name}}">
            {{> "tag-paths" }}
        </span>
    </a>

</div>
{{/tag}}
