{{!-- Portada para el autor --}}

<section class="cover {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{/if}}">

    {{!-- Imagen del autor --}}
    {{#if image}}
        <figure class="logo logo__author">
            <img class="img" src="{{image}}" alt="{{@blog.title}}" />
        </figure>
    {{/if}}

    {{!-- Nombre y biografía --}}
    <div class="info-block">
        <h1 class="title">{{name}}</h1>
        <strong class="description">{{bio}}</strong>
    </div>
    
    {{!-- Redes sociales --}}
    <div class="cover__social">
        <ul class="cover__list">
            <li class="cover__item"><a href="https://medium.com/@filimx" target="blank" class="cover__icon fa fa-medium"></a></li>
            <li class="cover__item"><a href="http://codepen.io/FiliMX/" target="blank" class="cover__icon fa fa-codepen"></a></li>
            <li class="cover__item"><a href="https://github.com/FiliMX" target="blank" class="cover__icon fa fa-github-alt"></a></li>
            <li class="cover__item"><a href="https://www.facebook.com/FiliSantillanMX" target="blank" class="cover__icon fa fa-facebook"></a></li>
            <li class="cover__item"><a href="https://twitter.com/FiliMX" target="blank" class="cover__icon fa fa-twitter"></a></li>
            <li class="cover__item"><a href="https://www.instagram.com/filimx/" target="blank" class="cover__icon fa fa-instagram"></a></li>
            {{!-- <li class="cover__item"><a href="https://plus.google.com/+filimartinezz" target="blank" class="cover__icon fa fa-google-plus"></a></li> --}}
            <li class="cover__item"><a href="https://mx.linkedin.com/in/filisantillan" target="blank" class="cover__icon fa fa-linkedin"></a></li>
        </ul>
    </div>

    {{!-- Icono de feedly --}}
    <a class="cover__feedly" href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Ffilisantillan.com%2Frss%2F'  target='blank'>
        <img id='feedlyFollow' src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png' alt='follow us in feedly' width='71' height='28'>
    </a>
    
</section>