{{!------------------------------------}}
          {{!-- Cover-post --}}
{{!------------------------------------}}

<div class="cover__details">
    <div class="cover__title">
        <h1 class="cover__text">{{title}}</h1>
    </div>

    {{#if tags}}
        {{#foreach tags}}
            <a href="{{url}}" class="cover__tag btn btn-icon">
                <i class="cover__icon u-mg-rt-5em o-icon-{{name}}">X</i>
                <span class="cover__text">{{name}}</span>
            </a>
        {{/foreach}}
    {{/if}}

    {{#author}}
        <a href="{{url}}" class="cover__author">

            {{#if profile_image}}
            
                <img class="cover__authorImage"
                     src="{{img_url profile_image}}" 
                     alt="{{name}}">

            {{else}}

                <img class="cover__authorImage"
                     src="https://api.adorable.io/avatars/face/eyes2/nose7/mouth3/299fd3">

            {{/if}}
        </a>
    {{/author}}

    <div class="cover__authorContainer">
        
    </div>
</div>

<div class="cover__image {{#if feature_image}}image--true" style="background-image: url({{img_url feature_image}}){{else}}image--false{{/if}}"></div>