{{!------------------------------------}}
          {{!-- Cover --}}
{{!------------------------------------}}

{{!-- Cover of a index (default) --}}

{{!-- Cover image --}}
{{#author}}
<div class="cover__imageContainer">
    <div class="cover__image {{#if cover_image}}image--true" style="background-image: url({{cover_image}}){{else}}image--false{{/if}}"></div>
</div>

<div class="cover__intro u-wrap-center">

    <div class="cover__name">
        <strong class="cover__text">{{name}}</strong>
    </div>

    {{#if bio}}
    <div class="cover__description cover--bio">
        <strong class="cover__text">
            {{bio}}
        </strong>
    </div>
    {{/if}}

    <div class="cover__postNumber">
        <span class="cover__text">
            {{plural ../pagination.total empty='No hay posts' singular='% post' plural='% posts'}}
        </span>
    </div>

    <ul class="cover__optionList u-no-list optionList--social">

        {{#if website}}
        <li class="cover__social">
            <a href='{{website}}' class="cover__icon o-icon-link"></a>
        </li>
        {{/if}}

        {{#if facebook}}
        <li class="cover__social">
            <a href="{{facebook_url author.facebook}}" class="cover__icon o-icon o-icon-facebook"></a>
        </li>
        {{/if}}

        {{#if twitter}}
        <li class="cover__social">
            <a href="{{twitter_url author.facebook}}" class="cover__icon o-icon o-icon-twitter"></a>
        </li>
        {{/if}}

        <li class="cover__social">
            <a href="https://www.instagram.com/fili.js/" class="cover__icon o-icon-instagram"></a>
        </li>

        <li class="cover__social">
            <a href="https://github.com/FiliJS" class="cover__icon o-icon-github"></a>
        </li>
    </ul>

    <a href="{{url}}" class="cover__author u-display-in-block">

        {{#if profile_image}}
        
            <img class="cover__authorImage"
                    src="{{img_url profile_image}}" 
                    alt="{{name}}">

        {{else}}

            <img class="cover__authorImage"
                    src="https://api.adorable.io/avatars/face/eyes2/nose7/mouth3/299fd3">

        {{/if}}
    </a>
</div>
{{/author}}
