{{!-- here we have common view for post and static page details --}}

{{#if @blog.navigation}}
<div class="post-view-menu-bars js-open-main-menu">
    <i class="fa fa-bars"></i>
</div>
{{/if}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<div class="post-view">
    <aside class="post-view-sidebar scene-element" {{#if image}}style="background-image: url({{image}});"{{else}}{{#if @blog.cover}}style="background-image: url({{@blog.cover}});"{{/if}}{{/if}}>
        <div class="post-view-elems animated bounceInLeft">
            <div class="post-view-elems-header">
                <a href="{{@blog.url}}" class="header-back-btn">
                    <i class="fa fa-chevron-left"></i> Inicio
                </a>
                 <div class="post-view-menu-bars-mobile js-open-main-menu">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="post-view-elems-body">
                {{!-- for post view only --}}
                {{#is "post"}}
                    <div class="post-reading-time js-post-reading-time">
                        <progress value="0" class="read-progress-indicator single">
                            <div class="progress-container">
                                <span class="progress-bar"></span>
                            </div>
                        </progress>
                        {{!-- read progress indicator --}}
                        <div class="read-estimation">
                            <div class="read-estimation-content">
                                <div class="title">{{title}}</div>
                                <div class="estimated-time">
                                    <span class="js-word-count"></span> palabras - <span class="eta"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="post-view-elems-share">
                        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x fa-inverse"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x fa-inverse"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x fa-inverse"></i>
                                <i class="fa fa-google-plus fa-stack-1x"></i>
                            </span>
                        </a>
                    </div> --}}
                {{/is}}
                {{!-- here will land your recent posts --}}
                {{!-- you can change items amout here --}}
                <div class="post-recent-list js-post-view-recent" data-items="5">
                    <div class="post-recent-list-label">
                        <span>Posts Recientes</span>
                    </div>
                    <div class="post-recent-list-separator"></div>
                </div>
                <div class="post-view-facebook">
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com/FiliSantillanMX&amp;width=270&amp;height=200&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=539759132770284" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:258px;" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
    </aside>
    <main class="post-view-content scene-element" role="main">
        <div class="post-view-right-container">
            <article class="post-view-article {{post_class}}">
                <section class="post-content row animated bounceInRight">
                    <div class="small-12 columns">
                        <div class="post-header-content">
                            <h1 class="post-title">{{title}}</h1>
                            {{#is "post"}}
                                <section class="post-meta js-bg-check">
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                                </section>
                            {{/is}}
                            {{!-- Social --}}
                            <div class="social-buttons">
                                {{!-- Facebook --}}
                                <div class="fb-share-button" data-href="{{url absolute="true"}}" data-layout="box_count"></div>
                                
                                {{!-- Twitter --}}
                               <a href="{{url absolute="true"}}" class="twitter-share-button" data-count="vertical" data-via="FiliMX"></a>
                                
                                {{!-- Google Plus --}}
                               <div class="g-plusone" data-size="tall" data-href="{{url absolute="true"}}"></div>
                                
                                {{!-- Linkedin --}}
                                <script type="IN/Share" data-url="{{url absolute="true"}}" data-counter="top"></script>
                            </div>
                        </div>
                        <div class="post-article-content">
                            {{content}}
                            <section class="subscribers">
                                <!-- Begin MailChimp Signup Form -->
                                <div id="mc_embed_signup">
                                <form action="//filisantillan.us10.list-manage.com/subscribe/post?u=95ea8fe3ca6aa8d832c3cf074&amp;id=3592928afa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                    <figure>
                                        <a href="http://www.boredpanda.com/20-emoji-cats-design-2/" target="blank"><img src="{{asset "cat.png"}}" alt="Cat" title="Cat"></a>
                                    </figure>
                                    <h2>Únete al lado obscuro</h2>
                                    <p style="font-size: 22px">¡Tenemos gatitos!</p>
                                <div class="mc-field-group">
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                                </div>
                                <div class="mc-field-group">
                                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Nombre">
                                </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_95ea8fe3ca6aa8d832c3cf074_3592928afa" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Quiero unirme" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                    </div>
                                </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </section>
                            <h3 class="post-share-text">¿Te gustó el artículo?, por favor, ayudame a compartir para que otras personas puedan leerlo.</h3>
                            {{!-- Social --}}
                            <div class="social-buttons">
                                {{!-- Facebook --}}
                                <div class="fb-share-button" data-href="{{url absolute="true"}}" data-layout="box_count"></div>
                                
                                {{!-- Twitter --}}
                               <a href="{{url absolute="true"}}" class="twitter-share-button" data-count="vertical" data-via="FiliMX"></a>
                                
                                {{!-- Google Plus --}}
                               <div class="g-plusone" data-size="tall" data-href="{{url absolute="true"}}"></div>
                                
                                {{!-- Linkedin --}}
                                <script type="IN/Share" data-url="{{url absolute="true"}}" data-counter="top"></script>
                            </div>
                        </div>
                    </div>
                </section>
                {{#is "post"}}
                    {{#if tags}}
                        <section class="row">
                            <div class="small-12 columns">
                                <div class="post-tags">
                                    {{#foreach tags}}
                                        <a href="{{url}}">
                                            {{name}}
                                        </a>
                                    {{/foreach}}
                                </div>
                            </div>
                        </section>
                    {{/if}}
                    {{! Everything inside the #author tags pulls data from the author }}
                    {{#author}}
                        <section class="author-info">
                            <div class="row">
                                <section class="post-author small-12 columns">
                                    {{#if image}}
                                        <img src="{{image}}" class="post-author-avatar" alt="{{name}}">
                                    {{/if}}
                                    {{#if name}}
                                        <span class="author-label">Autor</span>
                                        <h3><a href="{{url}}" class="author-link-name">{{name}}</a></h3>
                                    {{/if}}
                                    {{#if website}}
                                        <p><a href="{{website}}" class="author-website">{{website}}</a></p>
                                    {{/if}}
                                    {{#if bio}}
                                        <p>{{bio}}</p>
                                    {{/if}}
                                </section>
                            </div>
                        </section>
                    {{/author}}

                    {{!-- remember to set up your disqus uniq disqus_shortname variable in anima.js file --}}
                    {{> "disqus"}}

                {{/is}}
            </article>
            {{> "footer"}}
        </div>
    </main>
</div>
{{/post}}