{{#foreach posts}}
<article class="post-card post-card-video {{post_class}}">

  <a href="{{url}}" class="post-card-link" title="{{title}}" aria-label="{{title}}"></a>

  <picture class="post-card__cover">
    <source srcset="{{img_url feature_image size="size-640"}}"
      data-srcset="{{img_url feature_image size="size-425"}} 1x, {{img_url feature_image size="size-850"}} 2x, {{img_url feature_image size="size-1275"}} 3x"
      media="(min-width: 375px)" class="lazy">

    <img src="{{img_url feature_image size="size-640"}}" data-src="{{img_url feature_image size="size-320"}}"
      data-srcset="{{img_url feature_image size="size-640"}} 2x, {{img_url feature_image size="size-960"}} 3x"
      alt="{{title}}" class="post-card__image post-card-image post-card-image-video">
  </picture>

  <header class="post-card__header post-card-header-video">
    <div class="post-card__date">
      <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MMMYYYY"}}</time>
    </div>

    {{#if featured}}
    <div class="post-card__feature">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" class="post-card__icon">
        <path fill="none" d="M0 0h24v24H0z" />
        <path
          d="M17.6 21c-.2 0-.3 0-.5-.1L12 18.2l-5.1 2.7c-.5.3-1.1.1-1.4-.4-.1-.2-.1-.4-.1-.6l1-5.6-4.1-4c-.2-.4-.3-.7-.2-1.1.1-.4.4-.6.8-.7l5.7-.8 2.5-5.1c.2-.5.8-.7 1.3-.5.2.1.4.3.5.5l2.5 5.1 5.7.8c.4.1.7.3.8.7.1.4 0 .7-.2 1l-4.1 4 1 5.6c.1.4-.1.8-.4 1-.2.1-.4.2-.6.2z"
          fill="#FFFFFF" /></svg>
      <span class="post-card__text u-d-inline-flex">
        Video destacado
      </span>
    </div>
    {{/if}}

  </header>

  <section class="post-card__content post-card-content-video">
    <h2 class="post-card__title">{{title}}</h2>

    <div class="post-card-video-icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71" height="70"
        viewBox="0 0 71 70">
        <defs>
          <filter id="Elipse_1" x="0" y="0" width="71" height="70" filterUnits="userSpaceOnUse">
            <feOffset dx="5" dy="5" input="SourceAlpha" />
            <feGaussianBlur stdDeviation="5" result="blur" />
            <feFlood flood-opacity="0.161" />
            <feComposite operator="in" in2="blur" />
            <feComposite in="SourceGraphic" />
          </filter>
        </defs>
        <g id="Grupo_18" data-name="Grupo 18" transform="translate(-13 -1364.347)">
          <g transform="matrix(1, 0, 0, 1, 13, 1364.35)" filter="url(#Elipse_1)">
            <ellipse id="Elipse_1-2" data-name="Elipse 1" cx="20.5" cy="20" rx="20.5" ry="20"
              transform="translate(10 10)" fill="#fff" />
          </g>
          <path id="Icon_awesome-play" data-name="Icon awesome-play"
            d="M12.945,6.55,2.208.2A1.456,1.456,0,0,0,0,1.462V14.155a1.463,1.463,0,0,0,2.208,1.26L12.945,9.07a1.463,1.463,0,0,0,0-2.52Z"
            transform="translate(38.371 1386.469)" fill="#2d3041" />
        </g>
      </svg>

    </div>

  </section>

</article>
{{/foreach}}