{{#foreach posts}}
  <article class="post-card {{post_class}} {{#has tag="video"}}post-card--video{{/has}}">

    <a href="{{url}}" class="post-card-link" title="{{title}}" aria-label="{{title}}"></a>

    <picture class="post-card-cover">
      <source srcset="{{img_url feature_image size="size-640"}}"
        data-srcset="{{img_url feature_image size="size-425"}} 1x, {{img_url feature_image size="size-850"}} 2x, {{img_url feature_image size="size-1275"}} 3x"
        media="(min-width: 375px)" class="lazy">

      <img src="{{img_url feature_image size="size-640"}}" data-src="{{img_url feature_image size="size-320"}}"
        data-srcset="{{img_url feature_image size="size-640"}} 2x, {{img_url feature_image size="size-960"}} 3x"
        alt="{{title}}" class="post-card__image post-card-image">
    </picture>

    <div class="post-card-container">

      {{#has tag="blog"}}
        <header class="post-card__header">
          <div class="post-card__date">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MMMYYYY"}}</time>
          </div>

          {{#if featured}}
            <div class="post-card__feature">
              <span class="post-card__text u-d-inline-flex">
                Destacado
              </span>
            </div>
          {{/if}}
        </header>
      {{/has}}

      <footer class="post-card__footer">
        <h2 class="post-card__title">{{title}}</h2>

        {{#has tag="blog"}}
          <div class="post-card__details">
            <div class="post-card__author">
              {{#primary_author}}
                <a href="{{url}}" class="post-card__name">
                  {{name}}
                </a>
              {{/primary_author}}
            </div>

            {{#if tags}}
              {{#foreach tags from="3" limit="1"}}
                <div class="post-card__tag">
                  <a href="{{url}}" class="post-card__tag-container">
                    {{name}}
                  </a>
                </div>
              {{/foreach}}
            {{/if}}
          </div>
        {{else}}

          <div class="post-card__playButton">
            {{> "icon-play"}}
          </div>
        {{/has}}


      </footer>

  </article>
{{/foreach}}