<section class="feature-container">
  {{#foreach posts}}
  <article class="article-card {{post_class}}" id="feature-post">
  
    <a href="{{url}}" class="article-link" title="{{title}}" aria-label="{{title}}"></a>
  
    <header class="article-header">
      <div class="article-header__date">
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MMM.YYYY"}}</time>
      </div>
  
      <div class="article-header__feature">
        <img src="" alt="Icon Star" class="article-header__icon" id="icon-star" width="18">
        <span class="article-header__text">
          Artículo destacado
        </span>
      </div>
    </header>
  
    <picture class="article-cover">
      <source srcset="{{img_url feature_image size="size-640"}}"
        data-srcset="{{img_url feature_image size="size-425"}} 1x, {{img_url feature_image size="size-850"}} 2x, {{img_url feature_image size="size-1275"}} 3x"
        media="(min-width: 375px)" class="lazy">
  
      <img src="{{img_url feature_image size="size-640"}}" data-src="{{img_url feature_image size="size-320"}}"
        data-srcset="{{img_url feature_image size="size-640"}} 2x, {{img_url feature_image size="size-960"}} 3x"
        alt="{{title}}" class="article-cover__image lazy">
    </picture>
  
    <section class="article-content">
      <h2 class="article-content__title">{{title}}</h2>
  
      <footer class="article-footer">
  
        <div class="article-footer__author">
          <span class="article-footer__name">
            {{!-- Author name --}}
            {{#primary_author}}
            <a href="{{url}}" class="article-footer__link">
              <strong>{{name}}</strong>
            </a>
            {{/primary_author}}
          </span>
        </div>
  
        {{#if tags}}
        {{#foreach tags from="3" limit="1"}}
        <div class="article-footer__wrapTag">
          <a href="{{url}}" class="article-footer__tag">
            <span class="article-footer__icon o-icon-{{name}}">
              {{> "tag-paths" }}
            </span>
            <span class="article-footer__text">{{name}}</span>
          </a>
        </div>
        {{/foreach}}
        {{/if}}
      </footer>
    </section>
  
  </article>
  {{/foreach}}
</section>