<!DOCTYPE html>
<html ⚡ lang='es'>
<head>

    {{!-- Title --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="MobileOptimized" content="320" />

    {{!-- Favicons --}}
    <link rel="apple-touch-icon" sizes="180x180" href='{{asset "./images/favicon/apple-touch-icon.png"}}'>
    <link rel="icon" type="image/png" href='{{asset "./images/favicon/favicon-32x32.png"}}' sizes="32x32">
    <link rel="icon" type="image/png" href='{{asset "./images/favicon/favicon-16x16.png"}}' sizes="16x16">
    <link rel="manifest" href='{{asset "./images/favicon/manifest.json"}}'>
    <link rel="mask-icon" href='{{asset "./images/favicon/safari-pinned-tab.svg"}}' color="#299FD3">
    <meta name="apple-mobile-web-app-title" content="Fili">
    <meta name="application-name" content="Fili">

    {{!-- Author & Descripction --}}
    <meta name="author" content="Filiberto Santillán">
    <meta name='description' content='Blogger, Geek, Lover of code - HTML, CSS, Javascript, ReactJS' />

    {{!-- Friendly --}}
    <meta name="HandheldFriendly" content="True" />

    {{!-- Google --}}
    <link rel="author" href="https://plus.google.com/+FiliMart%C3%ADnezZ"/>

    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Nunito:300,400,700" rel="stylesheet">

    {{!-- FontAwesome --}}
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel="stylesheet">

    {{!-- Otras configuraciones --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#4299D4">
    <meta name="google-site-verification" content="PUVeHiwvS1T4_Q8FaieZHfE0GjL2rsKJ3LU4eabFdtA" />
    
    {{!-- Ghost outputs important style and meta data with this tag (AMP) --}}
    {{amp_ghost_head}}
    
    {{!-- Post Styles --}}
    <style amp-custom>
        :root {
            --font-nutito: 'Nunito', sans-serif;
            --font-lato: 'Lato', sans-serif;
            --color-black: #1B1B1B;
            --color-dark: #50514F;
            --color-red: #F25F5C;
            --color-yellow: #FFE066;
            --color-blue: #299FD3;
            --color-green: #70C1B3;
            --color-gray-C: #9998A4;
            --color-gray-B: #E1E4E7;
            --color-gray-A: #F5F5F5;
            --color-white: #F8FBFB;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: var(--font-nutito);
        }
            
        body {
            font-family: var(--font-lato);
        }

        a {
            text-decoration: none;
        }
            
        figure {
            margin: 0;
        }

        ul[class*='no-list'] {
            list-style: none;
            padding: 0;
        }

        .header {
            background-color: var(--color-blue);
            padding: 0.5rem 0.7rem;
            height: 40px;
        }

        .header__title {
            line-height: 40px;
            display: inline-block;
        }

        .header__title .header__text {
            font-size: 1.5rem;
            font-family: var(--font-nutito);
            letter-spacing: 1px;
        }

        .header__title .header__text .header__link {
            color:  #F8FBFB;
        }

        .header__menu {
            line-height: 45px;
            display: inline-block;
            float: right;
        }

        .header__menu .header__icon {
            font-size: 1.5rem;
            color: var(--color-white);
            border: none;
            background: none;
            margin: 0;
            padding: 0;
        }

        .menu {
            background: var(--color-white);
            width: 80%;
            padding: 1.5rem 2rem;
            box-sizing: border-box;
            position: relative;
        }

        .menu .menu__arrow {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: var(--color-blue);
            box-shadow: 4px 4px 0 var(--color-red);
            padding: 0.5rem 0.7rem;
            font-size: 1.7rem;
            color: var(--color-white);
        }

        .menu__option {
            margin: 1.2rem 0;
        }

        .menu__option .menu__link {
            color: var(--color-dark);
            font-weight: 300;
            letter-spacing: 1px;
        }

        .cover .cover__image {
            margin: 0 0 0.5rem 0;
            height: 230px;
            max-height: 230px;
            overflow: hidden;
        }

        .cover .cover__image .cover__img {
            width: 130%;
            height: auto;
            min-height: 100%;
        }

        .article-wrapper {
            padding: 0.5rem;
        }

        .article__info {
            padding-bottom: 0.9rem;
            border-bottom: 1px solid var(--color-gray-B);
            color: var(--color-dark);
        }

        .article__info .article__title {
            margin: 0 0 0.4rem 0;
            font-size: 1.6rem;
        }

        .article__info .article__date {
            display: block;
            font-size: 0.9rem;
            color: var(--color-gray-C);
        }

        .article__info .article__date .article__icon {
            font-size: 1.1rem;
            vertical-align: -5%;
            margin: 0 0 0.2rem 0;
        }

        .article__info .article__tag {
            text-transform: capitalize;
            color: var(--color-blue);
            border-bottom: 1px dashed var(--color-blue);
        }

        .article__content {
            color: var(--color-dark);
            font-size: 16px;
            text-align: left;
        }

        .article__content .article__notice {
            display: inline-block;
            padding: 0.5rem 0.3rem;
            margin: 1rem 0 0 0;
            background-color: var(--color-white);
            border: 1px solid var(--color-gray-B);
            box-sizing: border-box;
            border-radius: 3px;
        }

        .article__content h1, h2,h3,h4,h5,h6{
            margin: 2rem 0 0 0;
        }

        .article__content h1 {
            font-size: 2em;
        }

        .article__content h2 {
            font-size: 1.8em;
        }

        .article__content h3 {
            font-size: 1.5em;
        }

        .article__content h4 {
            font-size: 1.3em;
        }

        .article__content h5 {
            font-size: 1.2em;
        }

        .article__content h6 {
            font-size: 1.1em;
        }

        .article__content p {
            font-size: 1em;
            line-height: 20px;
            margin: 0.5rem 0 1rem 0;
        }

        .article__content strong {
            color: var(--color-black);
        }

        .article__content a {
            color: var(--color-blue);
            border-bottom: 1px dashed var(--color-blue);
        }

        .article__content blockquote {
            background: var(--color-gray-B);
            border-left: 8px solid var(--color-gray-C);
            width: 100%;
            box-sizing: border-box;
            font-weight: 300;
            margin: 1.5rem 0;
            padding: 0.3rem 0.5rem;
            position: relative;
        }

        .article__content blockquote strong {
            color: var(--color-dark);
            font-weight:  700;
        }

        .article__content blockquote p {
            margin: 0.8em 0;
            padding: 0.7rem 0 0.7rem 0;
        }

        .article__content blockquote small {
            display: inline-block;
            margin: 0.8em 0 0.8em 1.5em;
            font-size: 0.9em;
            color: var(--color-gray-C);
        }

        .article__content blockquote cite {
            font-weight: 700;
        }

        .article__content blockquote cite a {
            font-weight: normal;
        }

        .article__content code {
            box-sizing: border-box;
            padding: 0 0.2rem;
            font-weight: 300;
            font-family: var(--font-nutito);
            background-color: var(--color-gray-A);
            border: 1px solid var(--color-gray-B);
            border-radius: 2px;
            vertical-align: middle;
            color: var(--color-dark);
            user-select: text;
        }

        .article__content pre {
            background-color: var(--color-white);
            border: 1px solid var(--color-gray-B);
            padding: 1rem 0.5rem;
            overflow: auto;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            line-height: 1.5;
        }

        .article__content pre code {
            background: none;
            border: none;
            color: var(--color-blue);
        }

        .article__social {
            margin: 2rem 0;
            text-align: left;
        }

        .article__social .article__text {
            font-size: var(--font-nutito);
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 2px;
            margin: 0 0 1.5rem 0;
            display: inline-block;
        }

        .article__social .article__icons {
            text-align: center;
        }

        .author {
            background-color: var(--color-gray-A);
            padding: 1.5rem 0 1rem 0;
        }

        .author__options {
            text-align: center;
        }

        .author__options .author__icon {
            vertical-align: 115%;
            font-size: 2rem;
            color: var(--color-blue);
            border-radius: 50%;
            margin: 0 0.7rem;
        }

        .author__options .author__img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .author__options .author__button {
            display: inline-block;
            margin: 0.5rem 0 0 0;
            padding: 0.7rem 1.3rem;
            font-weight: 300;
            text-transform: uppercase;
            background-color: var(--color-blue);
            color: var(--color-white);
            border-radius: 20px;
        }

        .author__name {
            margin: 0.5rem 0;
        }

        .author__name .author__text {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-family: var(--font-nutito);
            letter-spacing: 2px;
        }

        .author__name .author__text .author__link {
            color: var(--color-dark);
        }

        .author__info {
            padding: 1.5rem 0.7rem 0 0.7rem;
            text-align: center;
            box-sizing: border-box;
        }

        .author__info .author__location {
            color: var(--color-dark);
            font-size: 1.1rem;
        }

        .author__info .author__location .author__icon {
            margin: 0 0.2rem 0 0;
        }

        .author__info .author__location .author__text {
            font-family: var(--font-nutito);
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .author__about {
            text-align: left;
        }

        .author__about .author__bio, .author__about .author__post {
            font-weight: 300;
            line-height: 1.5rem;
            color: var(--color-dark);
        }

        .author__about .author__bio .author__link, .author__about .author__post .author__link {
            color: var(--color-blue);
            border-bottom: 1px dashed var(--color-blue);
        }

        .footer {
            background-color: var(--color-blue);
            color: var(--color-white);
            padding: 0.8rem;
            text-align: center;
        }

        .footer .footer__title {
            font-size: 1.5rem;
            font-family: var(--font-nutito);
            letter-spacing: 1px;
        }

        .footer .footer__title .footer__link {
            color: var(--color-white);
        }

        .footer .footer__info .footer__copyright, .footer .footer__info .footer__digitalocean {
            display: block;
            margin: 0.5rem 0;
            font-weight: 300;
        }

        .footer .footer__info .footer__copyright .footer__link, .footer .footer__info .footer__digitalocean .footer__link {
            color: var(--color-yellow);
            margin: 0 0 0 0.2rem;
            padding: 0 0 0.1rem 0;
            border-bottom: 1px dashed var(--color-yellow);
        }

    </style>

    {{!-- The AMP boilerplate --}}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    {{!-- Accelerated Mobile Pages support for your posts --}}
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {{!-- Sidebar - AMP --}}
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

    {{!-- Social share buttons - AMP --}}
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    
    {{!-- For the correct functioning of gifs, iframes and audio --}}
    {{amp_components}}

</head>

<body class="amp-template">
    {{#post}}
    
    {{!-- Header - AMP --}}
    <header class="header">
        {{> 'amp-header' }}
    </header>
    
    {{!-- Sidevar - Menu AMP --}}
    <amp-sidebar class='menu' id='sidebar1' layout='nodisplay' side="right">
        {{!-- icon - close --}}
        <a href='#' class="menu__arrow fa fa-arrow-right" on='tap:sidebar1.close'></a>
        {{!-- Blog navigation  --}}
        <ul class='menu__options no-list'>
            {{navigation}}
        </ul>
    </amp-sidebar>

    {{!-- If there is a image (cover) --}}
    {{#if image}}
    {{!-- Cover --}}
    <section class='cover'>
        {{> 'amp-cover-post'}}
    </section>
    {{/if}}
    
    {{!-- AMP wrapper --}}
    <main class="article-wrapper" role="main">
        {{!-- AMP post --}}
        <article class='article'>
            
            {{!-- AMP information --}}
            <header class="article__info">
                {{!-- AMP title --}}
                <h1 class="article__title">{{title}}</h1>
                {{!-- AMP date --}}
                <time class="article__date" datetime="{{date format='YYYY-MM-DD'}}">
                    <span class="article__icon fa fa-clock-o"></span>
                    <span class="article__text">{{date published_at format='DD MMM YYYY' timeago='true'}}</span>
                </time>
                {{!-- If there is a tag --}}
                {{#if tags}}
                    {{!-- Everything inside the #tags tags pulls data from the post (AMP) --}}
                    {{#foreach tags}}
                {{!-- AMP tag --}}
                <a href='{{url}}' class="article__tag">{{name}}</a>
                    {{/foreach}}
                {{/if}}
            </header>
            
            {{!-- AMP content --}}
            <section class="article__content">
                {{amp_content}}
                
                {{!-- AMP notice - To give notice that it is in an AMP version --}}
                <span class="article__notice">
                    Esta es la versión <a href='https://www.ampproject.org/' target='_blank'>AMP</a> del artículo, si quieres ver el artículo original y tener una mejor experiencia <a href='{{url}}'>da click aquí</a>. <strong>Recuerda que consumirás más datos</strong>
                </span>
            </section>
            
            {{!-- AMP social --}}
            <section class="article__social">
                {{!-- Social text --}}
                <strong class="article__text">Si te gusto el artículo, por favor, ayudame a compartir para que otras personas puedan leerlo.</strong>

                {{!-- Social icons --}}
                <div class="article__icons">

                    {{!-- Facebook --}}
                    <amp-social-share type="facebook" 
                        data-param-app_id="254325784911610"
                        data-param-text="{{title}}"
                        data-param-url="https://filisantillan.com{{url}}">
                    </amp-social-share>

                    {{!-- Twitter --}}
                    <amp-social-share type="twitter"
                        data-param-text="{{title}}"
                        data-param-url="https://filisantillan.com{{url}}">
                    </amp-social-share>
                    
                    {{!-- Google+ --}}
                    <amp-social-share type="gplus"
                        data-param-text="{{title}}"
                        data-param-url="https://filisantillan.com{{url}}">
                    </amp-social-share>
                    
                    {{!-- Linkedin --}}
                    <amp-social-share type="linkedin"
                        data-param-text="{{title}}"
                        data-param-url="https://filisantillan.com{{url}}">
                    </amp-social-share>
                </div>
        </section>

        </article>
    </main>
    
    {{!-- Everything inside the #author tags pulls data from the post (AMp) --}}
    {{#author}}
    <section class='author'>
        {{!-- Author options --}}
        <figure class="author__options">
            {{!-- Facebook icon --}}
            <a href='{{facebook_url}}' target='_blank'class='author__icon fa fa-facebook'></a>
            
            {{!-- Author image --}}
            <a href="{{url}}">
                <amp-img class='author__img' src='https://filisantillan.com{{image}}' alt='{{name}}' width="100" height="100"></amp-img>
            </a>

            {{!-- Twitter icon --}}
            <a href='{{twitter_url}}' target='_blank'class='author__icon fa fa-twitter'></a>
                
            {{!-- Author name --}}
            <figcaption class="author__name">
                <strong class='author__text'>
                    <a class='author__link' href="{{url}}">{{name}}</a>
                </strong>
            </figcaption>
            
            {{!-- If there is a website --}}
            {{#if website}}
            {{!-- Button --}}
            <a href="{{website}}" class='author__button btn-default btn--radius'>Sobre mí</a>
            {{/if}}
        </figure>
        
        {{!-- Author information --}}
        <div class="author__info">
            
            {{!-- If there is a location --}}
            {{#if location}}
            {{!-- Author location --}}
            <div class="author__location">
                <i class="author__icon fa fa-map-marker"></i>
                <span class="author__text">{{location}}</span>
            </div>
            {{/if}}
            
            {{!-- About the author --}}
            <div class="author__about">
                {{!-- If there is a biography --}}
                {{#if bio}}
                <p class="author__bio">{{bio}}</p>
                {{!-- If there is not a biography --}}
                {{else}}
                <p class='author__post'>Lee más <a class='author__link'href="{{url}}">artículos</a> sobre este autor.</p>
                {{/if}}
            </div>
        </div>
    </section>
    {{/author}}
    
    {{!-- Footer --}}
    <footer class="footer">
        {{> 'amp-footer'}}
    </footer>

    {{/post}}
</body>
</html>