{{!-- Default --}}
{{!< default }}

{{!-- Header --}}
<header class='header'>
    {{> 'header' }}
</header>

<section class='menu'>
    {{> 'menu' }}
</section>

{{#author}}
<section class='author'>

    <div class="author-wrapper">
        <div class='author__cover {{#if image}} author--yes' style='background-image: url({{image}})'>
        </div>

        <figure class="author__options">

            <a href='{{facebook_url}}' class='author__icon icon-facebook'></a>

            <a href="{{url}}">
                <img class='author__img'src="{{image}}" alt='{{name}}'>
            </a>

            <a href='{{twitter_url}}' class='author__icon icon-twitter'></a>

            <figcaption class="author__name">
                <strong class='author__text'>
                    <a class='author__link' href="{{url}}">{{name}}</a>
                </strong>
            </figcaption>

            <span class="author__pagination">
                {{plural ../pagination.total empty='No hay artículos' singular='% artículo' plural='% artículos'}}
            </span>


        </figure>
        {{/if}}
    </div>
    
    <div class="author__info">

        {{#if location}}
        <div class="author__location">
            <i class="author__icon icon-check-in"></i>
            <span class="author__text">{{location}}</span>
        </div>
        {{/if}}

        <div class="author__about">
            {{#if bio}}
            <p class="author__bio">{{bio}}</p>
            {{else}}
            <p class='author__post'>Lee más <a class='author__link'href="{{url}}">artículos</a> sobre este autor.</p>
            {{/if}}
        </div>
    </div>
</section>
{{/author}}

<section id='post-wrapper' class='post-wrapper' role='main'>
    {{> 'loop'}}
</section>

<nav class="pagination" role="navigation">
    {{pagination}}
</nav>

<section id='mc_embed_signup'>
    {{> 'subscribe' }}
</section>

<footer class="footer">
    {{> "footer"}}
</footer>