{{!--
    Template: Default (Home)

    The "default" files are basically the main structure of the templates.
    It is the general structure that the website will have.
--}}


<!DOCTYPE html>
<html lang='{{@site.lang}}'>

<head>
    {{#is "index, page, post, tag, author"}}
        <title>{{meta_title}}</title>
    {{/is}}

    {{#is "blog"}}
        <title>Blog</title>
    {{/is}}

    {{#is "bits"}}
        <title>Bits</title>
    {{/is}}

    {{#is "videos"}}
        <title>Videos</title>
    {{/is}}

    {{!-- Document Settings --}}
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />

    {{!-- Author Settings --}}
    <meta name='author' content='Filiberto Santillán'>

    {{!-- Mobile Settings --}}
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta name='MobileOptimized' content='320' />

    {{!-- Favicon Settings --}}
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset 'favicon/apple-touch-icon.png'}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset 'favicon/favicon-32x32.png'}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset 'favicon/favicon-16x16.png'}}">
    <link rel="manifest" href='{{asset "favicon/manifest.json"}}'>
    <meta name="msapplication-TileColor" content="#282b39">
    <meta name="theme-color" content="#282b39">

    {{!-- Friendly --}}
    <meta name='HandheldFriendly' content='True' />

    {{!-- Other Settings --}}
    <meta name='google-site-verification' content='PUVeHiwvS1T4_Q8FaieZHfE0GjL2rsKJ3LU4eabFdtA' />

    {{!-- Preload and prefetch settings --}}
    <link rel="preload" href='{{asset "styles/common-bundle.css"}}' as="style">
    <link rel="prefetch" href='{{asset "js/common-bundle.js"}}' as="script">

    {{!-- Default styles --}}
    <link rel='stylesheet' href='{{asset "styles/common-bundle.css"}}'>

    {{!-- Custom styles by page type --}}
    {{#is "index"}}
        <link rel="preload" href='{{asset "styles/home-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/home-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/home-bundle.css"}}'>
    {{/is}}

    {{#is "blog"}}
        <link rel="preload" href='{{asset "styles/blog-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/blog-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/blog-bundle.css"}}'>
    {{/is}}

    {{#is "bits"}}
        <link rel="preload" href='{{asset "styles/bit-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/bit-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/bit-bundle.css"}}'>
    {{/is}}

    {{#is "videos"}}
        <link rel="preload" href='{{asset "styles/video-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/video-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/video-bundle.css"}}'>
    {{/is}}

    {{#is "post"}}
        {{#post}}
            {{#has tag="blog,video"}}
                <link rel="preload" href='{{asset "styles/post-bundle.css"}}' as="style">
                <link rel="prefetch" href='{{asset "js/post-bundle.js"}}' as="script">
                <link rel='stylesheet' href='{{asset "styles/post-bundle.css"}}'>
            {{/has}}
            {{#has tag="bit"}}
                <link rel="preload" href='{{asset "styles/postbit-bundle.css"}}' as="style">
                <link rel="prefetch" href='{{asset "js/postbit-bundle.js"}}' as="script">
                <link rel='stylesheet' href='{{asset "styles/postbit-bundle.css"}}'>
            {{/has}}
        {{/post}}
    {{/is}}

    {{#is "page"}}
        <link rel="preload" href='{{asset "styles/singlepage-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/singlepage-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/singlepage-bundle.css"}}'>
    {{/is}}

    {{#is "tag"}}
        <link rel="preload" href='{{asset "styles/tag-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/tag-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/tag-bundle.css"}}'>
    {{/is}}

    {{#is "author"}}
        <link rel="preload" href='{{asset "styles/author-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/author-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/author-bundle.css"}}'>
    {{/is}}

    {{!-- Ghost Head This tag outputs SEO meta + structured data and other important settings. --}}

    <script async defer>
        // Facebook Analytics
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1772585146121107');
        fbq('track', 'PageView');
    </script>

    <noscript>
        <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1772585146121107&ev=PageView&noscript=1" />
    </noscript>

    {{#is "post"}}
        {{#post}}
            {{#has tag="blog,bit"}}
                <script>
                    fbq('track', 'ViewContent', {
                        id: "ghost-{{id}}",
                        title: "{{title}}",
                        published_at: "{{date format='YYYY-MM-DD'}}"
                    });
                </script>
            {{/has}}
        {{/post}}
    {{/is}}

    {{ghost_head}}
</head>

<body class="{{body_class}}">

    {{!-- header template --}}
    {{> "header/header" }}

    <section class="search-container" id="search-container">
        {{> search/search }}
    </section>

    {{!-- Body layout Depending on the type of template, it will show a different content. --}}

    {{{body}}}

    {{!-- Footer layout --}}
    {{> "footer/footer"}}

    {{!-- Default script file --}}
    <script src='{{asset "js/common-bundle.js"}}'></script>

    {{!-- Custom scripts by page type --}}
    {{#is "index"}}
        <script src='{{asset "js/home-bundle.js"}}'></script>
    {{/is}}

    {{#is "blog"}}
        <script src='{{asset "js/blog-bundle.js"}}'></script>
    {{/is}}

    {{#is "bits"}}
        <script src='{{asset "js/bit-bundle.js"}}'></script>
    {{/is}}

    {{#is "videos"}}
        <script src='{{asset "js/video-bundle.js"}}'></script>
    {{/is}}

    {{#is "post"}}
        {{#post}}
            {{#has tag="blog,video"}}
                <script src='{{asset "js/post-bundle.js"}}'></script>
            {{/has}}
            {{#has tag="bit"}}
                <script src='{{asset "js/postbit-bundle.js"}}'></script>
            {{/has}}
        {{/post}}
    {{/is}}

    {{#is "page"}}
        <script src='{{asset "js/singlepage-bundle.js"}}'></script>
    {{/is}}

    {{#is "tag"}}
        <script src='{{asset "js/tag-bundle.js"}}'></script>
    {{/is}}

    {{#is "author"}}
        <script src='{{asset "js/author-bundle.js"}}'></script>
    {{/is}}

    {{!-- Ghost Footer, Ghost outputs important scripts and data with this tag. --}}

    {{ghost_foot}}

</body>

</html>