<!DOCTYPE html>
<html lang='es'>
<head>

    {{!-- Title --}}
    <title>{{meta_title}}</title>

    {{!-- Styles --}}
    <link rel='stylesheet' href='{{asset "./css/styles.css"}}'>
    
    {{!-- Mobile Meta --}}
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='MobileOptimized' content='320' />

    {{!-- Favicons --}}
    <link rel='apple-touch-icon' sizes='180x180' href='{{asset "./images/favicon/apple-touch-icon.png"}}'>
    <link rel='icon' type="image/png" href='{{asset "./images/favicon/favicon-32x32.png"}}' sizes="32x32">
    <link rel='icon' type="image/png" href='{{asset "./images/favicon/favicon-16x16.png"}}' sizes="16x16">
    <link rel='manifest' href='{{asset "./images/favicon/manifest.json"}}'>
    <link rel='mask-icon' href='{{asset "./images/favicon/safari-pinned-tab.svg"}}' color='#299FD3'>
    <meta name='apple-mobile-web-app-title' content='Fili Santill&aacute;n'>
    <meta name='application-name' content='Fili Santill&aacute;n'>

    {{!-- Author & Descripction --}}
    <meta name='author' content='Filiberto Santillán'>
    <meta name='description' content='{{meta_description}}' />

    {{!-- Friendly --}}
    <meta name='HandheldFriendly' content='True' />

    {{!-- Google --}}
    <link rel='author' href='https://plus.google.com/+FiliMart%C3%ADnezZ' />
    <link rel='canonical' href='http://filisantillan.com/' />

    {{!-- Google Fonts --}}
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Nunito:300,400,700' rel='stylesheet'>

    {{!-- Other Configurations --}}
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='theme-color' content='#299FD3'>
    <meta name='google-site-verification' content='PUVeHiwvS1T4_Q8FaieZHfE0GjL2rsKJ3LU4eabFdtA' />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

</head>
<body class='{{body_class}} nav-closed'>
    
    {{!-- Header --}}
    <header class='header'>
        {{> 'header' }}
    </header>

    {{!-- Content --}}
    <div class='site-wrapper'>
        {{{body}}}
    </div>

    {{!-- Footer --}}
    <footer class='footer'>
        {{> 'footer'}}
    </footer>

    {{!-- Jquery --}}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

    {{!-- Vendor --}}
    <script src='{{asset "./js/vendor.js"}}'></script>

    {{!-- Default script --}}
    <script src='{{asset "./js/scripts.js"}}'></script>

    {{!-- Addthis --}}
    <script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56324eb92b56efd7' async='async'></script>

    {{! Gooogle Analytics }}
    <script async>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59139943-5', 'auto');
      ga('send', 'pageview');
    </script>

    {{! Facebook SDK }}
    <div id='fb-root'></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
</body>
</html>
