<!DOCTYPE html>
<html lang='{{lang}}'>
<head>

    {{!-- Title --}}
    <title>{{meta_title}}</title>

    {{!-- Styles --}}
    <link rel='stylesheet' href='{{asset "css/home-bundle.css"}}'>

    {{!-- Document Settings --}}
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />

    {{!-- Author Settings --}}
    <meta name='author' content='Filiberto Santillán'>
    <meta name='description' content='Blogger, Geek, Lover of code - HTML, CSS, Javascript, ReactJS' />
    
    {{!-- Mobile Settings --}}
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta name='MobileOptimized' content='320' />

    {{!-- Favicon Settings --}}
    <link rel='apple-touch-icon' sizes='180x180' href='{{asset "./images/favicon/apple-touch-icon.png"}}'>
    <link rel='icon' type='image/png' href='{{asset "./images/favicon/favicon-32x32.png"}}' sizes='32x32'>
    <link rel='icon' type='image/png' href='{{asset "./images/favicon/favicon-16x16.png"}}' sizes='16x16'>
    <link rel='manifest' href='{{asset "./images/favicon/manifest.json"}}'>
    <link rel='mask-icon' href='{{asset "./images/favicon/safari-pinned-tab.svg"}}' color='#282B39'>
    <meta name='apple-mobile-web-app-title' content='Fili'>
    <meta name='application-name' content='Fili'>

    {{!-- Google+ Settings --}}
    <link rel='author' href='https://plus.google.com/+FiliMart%C3%ADnezZ' />

    {{!-- Friendly --}}
    <meta name='HandheldFriendly' content='True' />

    {{!-- Other Settings --}}
    <meta name='theme-color' content='#282B39'>
    <meta name='google-site-verification' content='PUVeHiwvS1T4_Q8FaieZHfE0GjL2rsKJ3LU4eabFdtA' />
    <meta property="fb:pages" content="379077102274280" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class='{{body_class}}'>

    {{> 'header' }}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    <div class="site-wrapper">
        {{{body}}}
    </div>

    {{> 'footer'}}

    {{!-- Scripts --}}
    <script src='{{asset "js/home-bundle.js"}}'></script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    
</body>
</html>
