{{!--
    Template: Default (Home)

    The "default" files are basically the main structure of the templates.
    It is the general structure that the website will have.
--}}


<!DOCTYPE html>
<html lang='{{@site.lang}}'>

<head>
    <title>{{meta_title}}</title>

    {{!-- Document Settings --}}
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />

    {{!-- Author Settings --}}
    <meta name='author' content='Filiberto Santillán'>
    <meta name='description' content='{{@site.description}}' />

    {{!-- Mobile Settings --}}
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta name='MobileOptimized' content='320' />

    {{!-- Favicon Settings --}}
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset 'favicon/apple-touch-icon.png'}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset 'favicon/favicon-32x32.png'}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset 'favicon/favicon-16x16.png'}}">
    <link rel="manifest" href='{{asset "favicon/manifest.json"}}'>
    <link rel="mask-icon" href="{{asset "favicon/safari-pinned-tab.svg"}}" color="#282b39">
    <meta name="msapplication-TileColor" content="#282b39">
    <meta name="theme-color" content="#282b39">

    {{!-- Friendly --}}
    <meta name='HandheldFriendly' content='True' />

    {{!-- Other Settings --}}
    <meta name='google-site-verification' content='PUVeHiwvS1T4_Q8FaieZHfE0GjL2rsKJ3LU4eabFdtA' />

    {{!-- Preload and prefetch settings --}}
    <link rel="preload" href='{{asset "styles/common-bundle.css"}}' as="style">
    <link rel="prefetch" href='{{asset "js/common-bundle.js"}}' as="script">

    {{!-- Default styles --}}
    <link rel='stylesheet' href='{{asset "styles/common-bundle.css"}}'>

    {{!-- Custom styles by page type --}}
    {{#is "home"}}
        <link rel="preload" href='{{asset "styles/home-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/home-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/home-bundle.css"}}'>
    {{/is}}

    {{#is "blog"}}
        <link rel="preload" href='{{asset "styles/blog-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/blog-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/blog-bundle.css"}}'>
    {{/is}}

    {{#is "bits"}}
        <link rel="preload" href='{{asset "styles/bit-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/bit-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/bit-bundle.css"}}'>
    {{/is}}

    {{#is "videos"}}
        <link rel="preload" href='{{asset "styles/video-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/video-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/video-bundle.css"}}'>
    {{/is}}

    {{#is "post"}}
        <link rel="preload" href='{{asset "styles/post-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/post-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/post-bundle.css"}}'>
    {{/is}}

    {{#is "tag"}}
        <link rel="preload" href='{{asset "styles/tag-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/tag-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/tag-bundle.css"}}'>
    {{/is}}

    {{#is "author"}}
        <link rel="preload" href='{{asset "styles/author-bundle.css"}}' as="style">
        <link rel="prefetch" href='{{asset "js/author-bundle.js"}}' as="script">
        <link rel='stylesheet' href='{{asset "styles/author-bundle.css"}}'>
    {{/is}}

    {{!-- Ghost Head This tag outputs SEO meta + structured data and other important settings. --}}

    {{ghost_head}}

</head>

<body class="{{body_class}}">

    {{!-- header template --}}
    {{> "header/header" }}

    {{!-- Body layout Depending on the type of template, it will show a different content. --}}

    {{{body}}}

    {{!-- Footer layout --}}
    {{> "footer/footer"}}

    {{!-- Default script file --}}
    <script src='{{asset "js/common-bundle.js"}}'></script>

    {{!-- Custom scripts by page type --}}
    {{#is "home"}}
        <script src='{{asset "js/home-bundle.js"}}'></script>
    {{/is}}

    {{#is "blog"}}
        <script src='{{asset "js/blog-bundle.js"}}'></script>
    {{/is}}

    {{#is "bits"}}
        <script src='{{asset "js/bit-bundle.js"}}'></script>
    {{/is}}

    {{#is "videos"}}
        <script src='{{asset "js/video-bundle.js"}}'></script>
    {{/is}}

    {{#is "post"}}
        <script src='{{asset "js/post-bundle.js"}}'></script>
    {{/is}}

    {{#is "tag"}}
        <script src='{{asset "js/tag-bundle.js"}}'></script>
    {{/is}}

    {{#is "author"}}
        <script src='{{asset "js/author-bundle.js"}}'></script>
    {{/is}}

    {{!-- Ghost Footer, Ghost outputs important scripts and data with this tag. --}}

    {{ghost_foot}}

</body>

</html>