<!DOCTYPE html>
<html lang="es">
<head>

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Crtical CSS --}}
    <style>
      .header,.menu,.progress{position:fixed}figcaption,figure,header,nav,section{display:block}img{border:0}a{background-color:transparent;text-decoration:none;color:#4299d4}button,input{outline:0;color:inherit;font:inherit;margin:0}html{font-family:sans-serif;text-size-adjust:100%}strong{font-weight:700}h1{font-size:2em;margin:.67em 0}button{overflow:visible;text-transform:none;-webkit-appearance:button;-moz-appearance:button;appearance:button}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}.big-search .big-search__form input,.header{box-sizing:border-box}body{margin:0;font-family:'Josefin Sans',sans-serif;background:#ebebeb}h1,strong[class*=title]{font-family:Raleway,sans-serif}figure{margin:0!important}ul{text-rendering:geometricPrecision;font-feature-settings:'liga' 1,'onum' 1,'kern' 1;margin:.8rem 0;padding-left:3rem}.cover,.menu{text-align:center}.icon{background:0 0;border:none}strong[class*=title]{font-weight:800}ul[class*=list]{list-style:none;padding:0;margin:0}.progress{left:0;top:0;width:100%;height:4px;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;background-color:transparent;color:$ColorBlue;z-index:2000}.wrap-center{margin:0 auto;max-width:1080px}.big-search,.menu{overflow-y:scroll}.header{background-color:#1e252a;color:#fff;padding:.5rem .3rem;width:100%;border-bottom:1px solid #fff;z-index:1000}.header-wrap{display:flex;justify-content:space-between}.header__title{display:flex;justify-content:flex-start}.header__title .header__name{font-size:1.4rem;margin:.3rem 0 0 .3rem;color:#fff}.header__title .nav{display:none}.header__options{display:flex;justify-content:flex-end}.header__options .header__search{margin:.1rem .3rem 0 0}.header__options .header__search .header__iconSearch{padding:0;font-size:1.5rem;cursor:pointer}.header__options .header__menu{padding:0 0.5rem;font-size:1.8rem;cursor:pointer;}.cover{background-repeat:no-repeat;background-position:center;background-size:cover;padding-top:4rem}.cover .logo img{width:300px}.info-block .title{font-size:2.3rem;color:#e6ebee;font-weight:800;text-shadow:3px 3px 0 #1e252a;padding:0 1rem}.info-block .description{letter-spacing:3px;color:#e6ebee;margin:0 0 1.5rem;display:inline-block;line-height:1.4rem}.cover__social .cover__list .cover__item a,.menu .menu__close{padding:0 0.7rem;font-size:2rem;color:#fff}.cover__social{margin:0 0 1.5rem}.cover__social .cover__list{display:flex;justify-content:center}.cover__social .cover__list .cover__item{margin:0 .5rem}.cover__feedly img{margin:0 0 1.5rem}.menu{background:rgba(30,37,42,.95);width:80%;top:0;z-index:2000;height:100vh;right:0;display:none}.menu .menu__close{position:absolute;top:.8rem;right:1rem;background:0 0;border:none;z-index:1000}.menu .menu__logo{margin:1rem 0}.menu .menu__logo img{width:150px}.menu .menu__list{padding:0 0 0 1.8rem}.menu .menu__list li{text-align:left;font-size:1.1rem;padding:1rem 0;text-transform:uppercase}.code,.menu .menu__list li a{padding:.5rem}.code{text-align:center}.big-search{display:none;position:fixed;width:100%;min-height:100%;top:0;left:0;background:rgba(30,37,42,.95);z-index:99999}.big-search .icon-close{font-size:3.5rem;color:#fff;position:absolute;right:2rem;top:1.3rem}.big-search .big-search__form{width:90%;max-width:1080px;margin:5rem auto 1rem}.big-search .big-search__form input{width:100%;padding:2rem 1rem;border:none;color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:3rem;font-weight:800;background:0 0;border-bottom:4px solid #fff}.big-search .big-search__form ::-webkit-input-placeholder{color:#fff}.big-search .big-search__form :-moz-placeholder{color:#fff}.big-search .big-search__form ::-moz-placeholder{color:#fff}.big-search .big-search__form :-ms-input-placeholder{color:#fff}.big-search .big-search__form ::-ms-input-placeholder{color:#fff}.big-search .results{margin:0 auto;width:100%;max-width:1080px;overflow-y:scroll;padding:.5rem 1rem}.code__title{margin:1rem 0;font-size:1.4rem;text-transform:uppercase;display:inline-block}.code__languages{display:flex;justify-content:space-around}.code__languages img{width:60px}.post__content .post .post__first{padding:.8rem;text-align:center;text-transform:uppercase;letter-spacing:3px;display:none}.post__footer .post__author,.post__tags{display:none}@media all and (min-width:360px){.header__title .header__name{font-size:1.9rem;margin:.4rem 0 0 .3rem}.header__options .header__search{margin:.6rem .3rem 0 0}.header__options .header__menu{margin:.2rem 0 0}.info-block .title{font-size:2.8rem}.code__title{font-size:1.4rem;letter-spacing:1px}}@media all and (min-width:412px){.info-block .title{letter-spacing:1px;font-size:3rem}.code__title{font-size:1.5rem;letter-spacing:2px}.code__languages img{width:70px}}@media all and (min-width:1080px){.header__title .header__name{margin:.2rem 0 0 .3rem}.header__title .nav{display:block;margin:.4rem 0 0 1.5rem}.header__title .nav li{display:inline-block;padding:.5rem}.header__title .nav li a{padding:.5rem .2rem 1rem;font-weight:300;font-size:1.1rem}.header__options .header__menu{display:none}.cover{position:relative;height:470px;margin:0 0 8rem;background-attachment:fixed}.cover .logo{position:absolute;bottom:-9.8rem;margin:0 auto;left:-0.8rem;right:0}.cover .logo img{width:600px}.info-block .title{font-size:5.5rem;margin:0 0 .5rem;padding:1rem 2rem 0;text-shadow:5px 5px 0 #1e252a}.info-block .description{padding:0 13rem;font-size:1.1rem}.cover__social .cover__list .cover__item{margin:0 1rem}.cover__social .cover__list .cover__item a{font-size:2.5rem}.code__title{font-size:2rem}.code__languages img{width:256px}}
    </style>

    <!-- Móbil -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="MobileOptimized" content="320" />

    {{!-- Favicon --}}
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

    {{!-- Autor y Descripción --}}
    <meta name="author" content="Filiberto Santillán">
    <meta name="description" content="{{meta_description}}" />

    {{!-- Friendly --}}
    <meta name="HandheldFriendly" content="True" />

    {{!-- Google --}}
    <link rel="author" href="https://plus.google.com/+FiliMart%C3%ADnezZ"/>
    <link rel="canonical" href="http://filisantillan.com/" />

    {{!-- Otras configuraciones --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#4299D4">
    <meta name="google-site-verification" content="PUVeHiwvS1T4_Q8FaieZHfE0GjL2rsKJ3LU4eabFdtA" />
    
    
    {{ghost_head}}

</head>
<body class="{{body_class}} nav-closed">
    
    {{!-- Contenido --}}
    <div class="site-wrapper">

        {{{body}}}

    </div>
  
    {{!-- Jquery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    {{!-- Vendor --}}
    <script src="{{asset "js/vendor/vendor.js"}}"></script>

    {{!-- Script --}}
    <script src="{{asset "js/filisantillan.js"}}"></script>
  
    {{!-- Cargando CSS mediante JS --}}
    <script>
      document.addEventListener('DOMContentLoaded', load, false);

      function load() {
        loadCSS('{{asset "css/styles.css"}}');
        loadCSS('{{asset "css/vendor/vendor.css"}}');
        loadCSS('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
        loadCSS('//fonts.googleapis.com/css?family=Raleway:700,800');
        loadCSS('//fonts.googleapis.com/css?family=Josefin+Sans:400,300,700');
      }

      function loadCSS(href, before, media) {
        'use strict';
        var css = window.document.createElement('link');
        var ref = before || window.document.getElementsByTagName("script")[0];

        css.rel = "stylesheet";
        css.href = href;
        css.media = "only x";
        ref.parentNode.insertBefore(css, ref );

        setTimeout( function(){
          css.media = media || "all";
        });

        return css;
      }
    </script>

    {{!-- Addthis --}}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56324eb92b56efd7" async="async"></script>

    {{! Gooogle Analytics }}
    <script async>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59139943-5', 'auto');
      ga('send', 'pageview');
    </script>

    {{ghost_foot}}
</body>
</html>
