{{!--
    Layout: Default (Author)

    The "default" files are basically the main structure of the templates.
    It is the general structure that the website will have.
--}}

<!DOCTYPE html>
<html lang='{{lang}}'>
<head>

    {{!-- Title --}}
    <title>{{meta_title}}</title>

    {{!-- Preload & Prefetch }}
    <link rel="preload" href='{{asset "css/common-bundle.css"}}' as="styles">
    <link rel="preload" href='{{asset "css/author-bundle.css"}}' as="styles">
    <link rel="prefetch" href='{{asset "js/common-bundle.js"}}' as="script">
    <link rel="prefetch" href='{{asset "js/author-bundle.js"}}' as="script">

    {{!-- Styles --}}
    <link rel='stylesheet' href='{{asset "css/common-bundle.css"}}'>
    <link rel='stylesheet' href='{{asset "css/author-bundle.css"}}'>
    
    {{!-- Document Settings --}}
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />

    {{!-- Author Settings --}}
    <meta name='author' content='Filiberto Santillán'>
    <meta name='description' content='{{@blog.description}}' />
    
    {{!-- Mobile Settings --}}
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta name='MobileOptimized' content='320' />

    {{!-- Favicon Settings --}}
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset 'favicon/apple-touch-icon.png'}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset 'favicon/favicon-32x32.png'}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset 'favicon/favicon-16x16.png'}}">
    <link rel="manifest" href='{{asset "favicon/manifest.json"}}'>
    <link rel="mask-icon" href="{{asset "favicon/safari-pinned-tab.svg"}}" color="#282b39">
    <meta name="msapplication-TileColor" content="#282b39">
    <meta name="theme-color" content="#282b39">

    {{!-- Google+ Settings --}}
    <link rel='author' href='https://plus.google.com/+FiliMart%C3%ADnezZ' />

    {{!-- Friendly --}}
    <meta name='HandheldFriendly' content='True' />

    {{!-- Other Settings --}}
    <meta name='google-site-verification' content='PUVeHiwvS1T4_Q8FaieZHfE0GjL2rsKJ3LU4eabFdtA' />

    {{!--
        Ghost Head
        This tag outputs SEO meta+structured data and other important settings.
    --}}

    {{ghost_head}}

</head>
<body class='{{body_class}}'>

    {{!-- Header layout --}}
    {{> 'header' }}

    {{!-- 
        Body layout
        Depending on the type of template, it will show a different content.
    --}}

    {{{body}}}
    
    {{!-- Footer layout --}}
    {{> 'footer'}}

    {{!-- Default JS Bundle--}}
    <script src='{{asset "js/common-bundle.js"}}'></script>
    <script src='{{asset "js/author-bundle.js"}}'></script>

    {{!--
        Ghost Foot
        Ghost outputs important scripts and data with this tag.
    --}}

    {{ghost_foot}}
    
</body>
</html>
