<!DOCTYPE html>
<html>
<head>
    <title>{{meta_title}}</title>

    {{!-- VENDOR --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="{{asset "css/vendor/vendor.css"}}">

    {{!-- STYLES --}}
    <link rel="stylesheet" href="{{asset "css/styles.css"}}">

    {{!-- FONT AWESOME --}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {{!-- GOOGLE FONTS --}}
    <link href="//fonts.googleapis.com/css?family=Lato:200,300,400,700,900" rel="stylesheet" type="text/css">

    {{!-- FAVICON --}}
    <link rel="shortcut icon" href="{{asset "fili.ico"}}">

    {{!-- SEO --}}
    <link rel="author" href="https://plus.google.com/+FiliMart%C3%ADnezZ/posts"/>
    <link rel="canonical" href="{{url}}" />
    
    {{! METAS }}
    <meta charset="utf-8">
    <meta name="author" content="Filiberto Martínez Santillán">
    <meta name="description" content="{{meta_description}}">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    {{! Gooogle Analytics }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59139943-5', 'auto');
      ga('send', 'pageview');

    </script>
</head>

{{! If you want NiceScroll enabled just add 'nicescroll' class here in the body tag}}
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    <div id="main" class="main-scene">
        {{{body}}}
        {{#if @blog.navigation}}
            {{> "menu"}}
        {{/if}}
        {{> "search"}}
    </div>

    {{!-- Back to top button --}}
    <a href="#" class="back-to-top-btn js-back-to-top-btn hidden">
        <i class="fa fa-chevron-up"></i>
    </a>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>

    <script src="{{asset "js/vendor/vendor.js"}}"></script>
    <script src="{{asset "js/anima.js"}}"></script>

    {{!-- MailChimp --}}
    <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text'; /*
     * Translated default messages for the $ validation plugin.
     * Locale: ES
     */
    $.extend($.validator.messages, {
      required: "Por favor, rellena este campo para que seas parte.",
      remote: "Por favor, rellena este campo para que seas parte.",
      email: "Por favor, escribe una dirección de correo válida",
      url: "Por favor, escribe una URL válida.",
      date: "Por favor, escribe una fecha válida.",
      dateISO: "Por favor, escribe una fecha (ISO) válida.",
      number: "Por favor, escribe un número entero válido.",
      digits: "Por favor, escribe sólo dígitos.",
      creditcard: "Por favor, escribe un número de tarjeta válido.",
      equalTo: "Por favor, escribe el mismo valor de nuevo.",
      accept: "Por favor, escribe un valor con una extensión aceptada.",
      maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
      minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
      rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
      range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
      max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
      min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
    });}(jQuery));var $mcj = jQuery.noConflict(true);
    </script>

    {{!-- Social --}}
    <script>

      //Facebook
      $.getScript("http://connect.facebook.net/es_LA/all.js#xfbml=1", function () {
           FB.init({ status: true, cookie: true, xfbml: true });
      });

      if (typeof (FB) != 'undefined') {
           FB.init({ status: true, cookie: true, xfbml: true });
      }
      function loadFacebook()
      {
          if (typeof (FB) != 'undefined') {
              FB.init({ status: true, cookie: true, xfbml: true });
          } else {
              $.getScript("http://connect.facebook.net/es_LA/all.js#xfbml=1", function () {
                  FB.init({ status: true, cookie: true, xfbml: true });
              });
          }
      }

      // Twitter
      $.getScript('http://platform.twitter.com/widgets.js');

      if (typeof (twttr) != 'undefined'){
           twttr.widgets.load();
      }

      function loadTwitter()
      {
          if (typeof (twttr) != 'undefined'){
              twttr.widgets.load();
          } else {
              $.getScript('http://platform.twitter.com/widgets.js');
          }
      }

      // Google Plus
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();

      // Linkedin
      $.getScript("http://platform.linkedin.com/in.js");

      if (typeof (IN) != 'undefined') {
           IN.parse();
      }
      function loadLinkedIn()
      {
           if (typeof (IN) != 'undefined') {
                IN.parse();
           } else {
                $.getScript("http://platform.linkedin.com/in.js");

           }
      }
    </script>

</html>
