{{!< default}}

{{!-- Header --}}
{{> "header"}}

{{!-- Portada --}}
{{> "cover"}}

{{!-- Menú --}}
{{> "menu"}}

{{!-- Busqueda --}}
{{> "search"}}

{{!-- Lenguajes para aprender --}}
<section class="code">
    <strong class="code__title">¿Qué te gustaría aprender hoy?</strong>
    
    <section class="code__languages">
        
        {{!-- HTML --}}
        <figure>
            <a href="/tag/html/">
                <img src='{{asset "images/html-mobile.jpg"}}' 
                     srcset='{{asset "images/html-tablet.jpg"}} 412w,
                             {{asset "images/html-desktop.jpg"}} 1080w'
                     alt="html" />
            </a>
        </figure>
        
        {{!-- CSS --}}
        <figure>
            <a href="/tag/css/">
                <img src='{{asset "images/css-mobile.jpg"}}' 
                     srcset='{{asset "images/css-tablet.jpg"}} 412w,
                             {{asset "images/css-desktop.jpg"}} 1080w'
                     alt="css" />
            </a>
        </figure>

        {{!-- JavaScript --}}
        <figure>
            <a href="/tag/javascript/">
                <img src='{{asset "images/javascript-mobile.jpg"}}' 
                     srcset='{{asset "images/javascript-tablet.jpg"}} 412w,
                             {{asset "images/javascript-desktop.jpg"}} 1080w'
                     alt="javascript" />
            </a>
        </figure>

    </section>
</section>

{{!-- Contenido --}}
<section id="post__content" class="post__content" role="main">
    {{> "loop"}}
</section>

{{!-- Newsletter --}}
{{> "newsletter"}}

{{!-- Paginación --}}
{{pagination}}

{{!-- Footer --}}
{{> "footer"}}

