{{!-- Default --}}
{{!< default}}

{{!-- Header --}}
{{> 'header' }}


{{!-- {{> "cover"}}


{{> "menu"}}


{{> "search"}}


<section class="code">
    <strong class="code__title">¿Qué te gustaría aprender hoy?</strong>
    
    <section class="code__languages">
        
        <figure>
            <a href="/tag/html/">
                <img src='{{asset "images/html-mobile.jpg"}}' 
                     srcset='{{asset "images/html-tablet.jpg"}} 412w,
                             {{asset "images/html-desktop.jpg"}} 1080w'
                     alt="html" />
            </a>
        </figure>
        
        <figure>
            <a href="/tag/css/">
                <img src='{{asset "images/css-mobile.jpg"}}' 
                     srcset='{{asset "images/css-tablet.jpg"}} 412w,
                             {{asset "images/css-desktop.jpg"}} 1080w'
                     alt="css" />
            </a>
        </figure>

        <figure>
            <a href="/tag/javascript/">
                <img src='{{asset "images/javascript-mobile.jpg"}}' 
                     srcset='{{asset "images/javascript-tablet.jpg"}} 412w,
                             {{asset "images/javascript-desktop.jpg"}} 1080w'
                     alt="javascript" />
            </a>
        </figure>

    </section>
</section>

<section id="post__content" class="post__content" role="main">
    {{> "loop"}}
</section>

{{> "newsletter"}}

{{pagination}}

{{> "footer"}} --}}

