{{!------------------------------------}}
          {{!-- Post --}}
{{!------------------------------------}}

{{!-- This is a post template. The content of a post is displayed --}}

{{!-- Default: All default.hbs code is inserted in head --}}
{{!< default }}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{!-- Cover: Post cover image --}}
<section class='cover {{#if feature_image}}cover-post' style='background-image: url({{img_url feature_image}}){{/if}}'>
    {{> 'cover-post'}}
</section>

<div class='arrow-up'>
    <a href='#header' class='arrow-up__icon icon-arrow-mini-up'></a>
</div>

{{!-- Post content wrap --}}
<main class='article-wrapper' role='main'>
    <article class='article'>

        {{!-- Facebook save button --}}
        <div class='article__fb-button fb-save' data-uri='https://filisantillan.com{{url}}' data-size='large'></div>

        {{!-- Sharing Tools --}}
        <section class='article__social'>
            <div class='article__addthis addthis_sharing_toolbox'></div>
        </section>

        {{!-- Content of the post --}}
        <section class='article__content'>
            {{content}}
        </section>

        {{!-- Sharing Tools --}}
        <section class='article__social'>
            <strong class='article__text'>Si te gusto el artículo, por favor, ayudame a compartir para que otras personas puedan leerlo.</strong>
            <div class='article__addthis addthis_sharing_toolbox'></div>
        </section>

    </article>
</main>

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
<section class='author'>

    {{!-- Author wrapper --}}
    <div class='author-wrapper'>

        {{!-- Author background--}}
        <div class='author__cover {{#if cover_image}} author--yes' style='background-image: url({{cover_image}})'>
        </div>

        {{!-- Author options --}}
        <figure class='author__options'>

            {{!-- Facebook icon --}}
            <a href='{{facebook_url}}' target='_blank' class='author__icon icon-facebook'></a>

            {{!-- Author image --}}
            <a href='{{url}}'>
                <img class='author__img'src='{{img_url profile_image}}' alt='{{name}}'>
            </a>

            {{!-- Twitter icon --}}
            <a href='{{twitter_url}}' target='_blank' class='author__icon icon-twitter'></a>

            {{!-- Author name --}}
            <figcaption class='author__name'>
                <strong class='author__text'>
                    <a class='author__link' href='{{url}}'>{{name}}</a>
                </strong>
            </figcaption>

            {{!-- If there is a website --}}
            {{#if website}}
            {{!-- Button --}}
            <a href='{{website}}' class='author__button btn-default btn--radius'>Sobre mí</a>
            {{/if}}
        </figure>
        {{/if}}
    </div>

    {{!-- Author information --}}
    <div class='author__info'>

        {{!-- If there is a location --}}
        {{#if location}}
        {{!-- Author location --}}
        <div class='author__location'>
            <i class='author__icon icon-check-in'></i>
            <span class='author__text'>{{location}}</span>
        </div>
        {{/if}}

        {{!-- About the author --}}
        <div class='author__about'>
            {{!-- If there is a biography --}}
            {{#if bio}}
            <p class='author__bio'>{{bio}}</p>
            {{!-- If there is not a biography --}}
            {{else}}
            <p class='author__post'>Lee más <a class='author__link' href='{{url}}'>artículos</a> sobre este autor.</p>
            {{/if}}
        </div>
    </div>
</section>
{{/author}}

{{!-- Comment system for the blog, Powered by Disqus --}}
<section class='disqus'>
    {{> 'disqus'}}
</section>

{{!-- Subscribe: tools for collecting emails from the blog --}}
<section id='mc_embed_signup'>
    {{> 'subscribe' }}
</section>
{{/post}}
