
{{!-- Default --}}
{{!< default }}

{{!-- Header --}}
<header class='header'>
    {{> 'header' }}
</header>

{{#post}}
<section class='cover {{#if image}} cover-post' style='background-image: url({{image}}){{/if}}'>
    {{> 'cover-post'}}
</section>

<main class='article-wrapper' role='main'>
    <article class="article {{post_class}}">
        
        <div class="article__fb-button fb-save" data-uri="https://filisantillan.com{{url}}" data-size="large"></div>

        <section class="article__content">
            {{content}}
        </section>
        
        <section class="article__social">
            <strong class="article__text">Si te gusto el artículo, por favor, ayudame a compartir para que otras personas puedan leerlo.</strong>
            <div class="article__addthis addthis_sharing_toolbox"></div>
        </section>

    </article>
</main>

{{#author}}
<section class='author'>

    <div class="author-wrapper">
        <div class='author__cover {{#if image}} author--yes' style='background-image: url({{image}})'>
        </div>

        <figure class="author__options">
            
            <a href='{{facebook_url}}' target='_blank' class='author__icon icon-facebook'></a>

            <a href="{{url}}">
                <img class='author__img'src="{{image}}" alt='{{name}}'>
            </a>

            <a href='{{twitter_url}}' target='_blank' class='author__icon icon-twitter'></a>

            <figcaption class="author__name">
                <strong class='author__text'>
                    <a class='author__link' href="{{url}}">{{name}}</a>
                </strong>
            </figcaption>

            {{#if website}}
            <a href="{{website}}" class='author__button btn-default btn--radius'>Sobre mí</a>
            {{/if}}
        </figure>
        {{/if}}
    </div>
    
    <div class="author__info">

        {{#if location}}
        <div class="author__location">
            <i class="author__icon icon-check-in"></i>
            <span class="author__text">{{location}}</span>
        </div>
        {{/if}}

        <div class="author__about">
            {{#if bio}}
            <p class="author__bio">{{bio}}</p>
            {{else}}
            <p class='author__post'>Lee más <a class='author__link'href="{{url}}">artículos</a> sobre este autor.</p>
            {{/if}}
        </div>
    </div>
</section>
{{/author}}

<section class="disqus">
    {{> "disqus"}}
</section>

<section id='mc_embed_signup'>
    {{> 'subscribe' }}
</section>

<footer class="footer">
    {{> "footer"}}
</footer>

{{/post}}