{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
{{> "header"}}

{{> "cover-post"}}

<main class="content" role="main">
    <article class="post-container {{post_class}}">

        <section class="post-social">
            <div class="addthis_sharing_toolbox"></div>
        </section>

        <section class="post-content">
            {{content}}
        </section>

        <secntion class="post-social">
            <strong class="post-socialText">¿Te gustó el artículo?, por favor, ayudame a compartir para que otras personas puedan leerlo.</strong>
            <div class="addthis_sharing_toolbox"></div>
        </secntion>

        {{> "newsletter"}}

        <section class="tags">
            {{#foreach tags}}
                <a href="{{url}}" class="tag">
                    {{name}}
                </a>
            {{/foreach}}
        </section>

        {{#author}}

            <section class="post__author">

                {{#if image}}
                <figure class="post__authorImage">
                    <a class="img" href="{{url}}">
                        <img src="{{image}}" alt="Fili Santillán">
                    </a>
                    {{#if website}}
                        <a href="{{website}}"><button class="btn-default">Sobre mí</button></a>
                    {{/if}}
                </figure>
                {{/if}}

                <section class="post__authorInfo">
                    <h4><a class="post__authorName"href="{{url}}">{{name}}</a></h4>

                    {{#if location}}
                        <span class="post__authorLocation fa fa-globe"></span>
                        <span class="post__authorLocation icon-location">{{location}}</span>
                    {{/if}}

                    {{#if bio}}
                        <p class="post__authorBio">{{bio}}</p>

                    {{else}}
                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>

                    {{/if}}

                </section>
            </section>

        {{/author}}



        {{> "disqus"}}


    </article>
</main>

{{> "footer"}}

{{/post}}
{{!-- {{#post}} --}}

{{!-- <main class="content" role="main">
    <article class="{{post_class}}">

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
 --}}