<div class="cover-container u-content-center">
    <header class="cover__header">
        <div class="cover__tag">
            {{#if tags}}
                {{#foreach tags from="3" limit="1"}}
                    <a href="{{url}}" class="cover__text u-text-transform-uppercase">
                        {{name}}
                    </a>
                {{/foreach}}
            {{/if}}
        </div>

        <div class="cover__share">

            <a href="{{url absolute="true"}}" class="share__button share-post-button" id="share-button"
                title="Compartir">
                {{> icons/icon-share }}
                <span>Compartir</span>
            </a>

            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                class="share__facebook share-post-button" id="share-facebook" title="Facebook">
                {{> icons/icon-facebook-mini }}
                <span>Compartir</span>
            </a>

            <a href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&amp;text={{title}}"
                class="share__twitter share-post-button" id="share-twitter" title="Twitter">
                {{> icons/icon-twitter-mini}}
                <span>Twittear</span>
            </a>
        </div>
    </header>

    {{#if title}}
        <div class="cover__introduction">
            <h1 class="u-font-xlarge">{{title}}</h1>
        </div>
    {{/if}}

    <footer class="cover__footer">
        <div class="cover__author u-text-transform-uppercase">
            {{#primary_author}}
                <a href="{{url}}" class="cover__text">
                    {{name}}
                </a>
            {{/primary_author}}
        </div>

        <div class="cover__date u-text-transform-uppercase">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MMMYYYY"}}</time>
        </div>

    </footer>


</div>