<div class="cover-bit-container">
  <header class="cover-bit__header">
    <div class="cover-bit__share">
      <div class="fb-share-button" data-href="{{url absolute="true"}}" data-layout="button_count" data-size="large"
        data-mobile-iframe="true"><a target="_blank" href="{{url absolute="true"}}"
          class="fb-xfbml-parse-ignore">Compartir</a></div>
      <a class="twitter-share-button" href="{{url absolute="true"}}" data-size="large">Tweet</a>
      {{#if tags}}
        {{#foreach tags from="3" limit="1"}}
          <div class="cover-bit__tags">
            <a href="{{url}}" class="cover-bit__tag">
              {{name}}
            </a>
          </div>
        {{/foreach}}
      {{/if}}
    </div>

  </header>

  {{#if feature_image}}
    <figure class="cover-bit__image">
      <img src="{{feature_image}}" alt="" class="cover-bit__img">
    </figure>
  {{/if}}


</div>