<div class="cover-bit-container">
  <header class="cover-bit__header">
    <div class="cover-bit__share">
      <a href="{{url absolute="true"}}" class="share__button share-post-button" id="share-button" title="Compartir">
        {{> icons/icon-share }}
        <span>Compartir</span>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        class="share__facebook share-post-button" id="share-facebook" title="Facebook">
        {{> icons/icon-facebook-mini }}
        <span>Compartir</span>
      </a>

      <a href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&amp;text={{title}}"
        class="share__twitter share-post-button" id="share-twitter" title="Twitter">
        {{> icons/icon-twitter-mini}}
        <span>Twittear</span>
      </a>

      {{#if tags}}
        {{#foreach tags from="3" limit="1"}}
          <div class="cover-bit__tags">
            <a href="{{url}}" class="cover-bit__tag">
              {{name}}
            </a>
          </div>
        {{/foreach}}
      {{/if}}
    </div>

  </header>

  {{#if feature_image}}

    <picture class="cover-bit__image">

      <source srcset="{{img_url feature_image size="s"}} 1x, {{img_url feature_image size="l"}} 2x"
        media="(min-width: 1024px)">

      <source srcset="{{img_url feature_image size="l"}} 1x, {{img_url feature_image size="xxl"}} 2x"
        media="(min-width: 768px)">

      <source srcset="{{img_url feature_image size="s"}} 1x, {{img_url feature_image size="l"}} 2x"
        media="(min-width: 425px)">

      <img src="{{img_url feature_image size='xs'}}" srcset="{{img_url feature_image size='m'}} 2x" alt="{{title}}"
        class="cover-bit__img" loading="lazy">
    </picture>

  {{/if}}


</div>