{{!--
    Layout: Cover (Author)

    Cover image of the author. This is set in the blog settings
--}}

{{!--
    Cover
    The cover image of the author.
--}}

{{#author}}

{{!-- Background image --}}
<div class="cover__imageContainer">
    <div class="cover__image {{#if cover_image}}image--true" style="background-image: url({{cover_image}}){{else}}image--false{{/if}}"></div>
</div>

{{!--
    Intro
    Information shown on the cover.
--}}

<div class="cover__intro u-wrap-center">

    {{!-- Name --}}
    <div class="cover__name">
        <strong class="cover__text">{{name}}</strong>
    </div>
    
    {{!-- if there is a biography --}}
    {{#if bio}}
    <div class="cover__description cover--bio">
        <strong class="cover__text">
            {{bio}}
        </strong>
    </div>
    {{/if}}

    {{!-- Number of public posts --}}
    <div class="cover__postNumber">
        <span class="cover__text">
            {{plural ../pagination.total empty='No hay posts' singular='% post' plural='% posts'}}
        </span>
    </div>

    {{!-- Social Networks --}}
    <ul class="cover__optionList u-no-list optionList--social">

        {{#if website}}
        <li class="cover__social">
            <a href='{{website}}' class="cover__icon o-icon-link" rel="noopener noreferrer" target="_blank"></a>
        </li>
        {{/if}}

        {{#if facebook}}
        <li class="cover__social">
            <a href="{{facebook_url}}" class="cover__icon o-icon o-icon-facebook" rel="noopener noreferrer" target="_blank"></a>
        </li>
        {{/if}}

        {{#if twitter}}
        <li class="cover__social">
            <a href="{{twitter_url}}" class="cover__icon o-icon o-icon-twitter" rel="noopener noreferrer" target="_blank"></a>
        </li>
        {{/if}}

        {{!-- <li class="cover__social">
            <a href="https://www.instagram.com/fili.js/" class="cover__icon o-icon-instagram" rel="noopener noreferrer" target="_blank"></a>
        </li>

        <li class="cover__social">
            <a href="https://github.com/FiliJS" class="cover__icon o-icon-github-simple" rel="noopener noreferrer" target="_blank"></a>
        </li>

        <li class="cover__social">
            <a href="https://www.youtube.com/c/filimartinezz" class="cover__icon o-icon-youtube" rel="noopener noreferrer" target="_blank"></a>
        </li> --}}
    </ul>

    {{!-- Image of the author --}}
    <div class="cover__author u-display-in-block">

        {{!-- If the image exists --}}
        {{#if profile_image}}
        
            <img class="cover__authorImage"
                    src="{{img_url profile_image}}" 
                    alt="{{name}}">

        {{!-- If it does not exist --}}
        {{else}}

            <img class="cover__authorImage"
                    src="https://api.adorable.io/avatars/face/eyes2/nose7/mouth3/299fd3">

        {{/if}}
    </div>
</div>
{{/author}}
